@model IEnumerable<Online_razmjena.Models.PorukaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Inbox</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nova Poruka</a>&nbsp;&nbsp;
    <a asp-action="Poslano" class="btn btn-primary">Poslano</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naslov)
            </th>
            <th>
                Pošiljatelj
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Primatelj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Primatelj)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                @if (item.Procitano == false)
                {
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info float-lg-left">Pročitaj novu poruku</a> 
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary float-lg-left">Pročitaj poruku</a> 
                }
                |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Izbriši</a>
            </td>
        </tr>
    
}
    </tbody>
</table>
