@model IEnumerable<Zamjena>

@{
    ViewData["Title"] = "Index";
}

<h1>Zamjene</h1>
<p>
    @using (Html.BeginForm("Index", "Zamjena", FormMethod.Get))
    {

        <div class="input-group">
            @Html.TextBox("search")
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>

    }
</p>
<p>
    <a asp-action="Create" class="btn btn-primary">Novi način zamjene</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nacin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nacin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ZamjenaId" class="btn btn-info">Izmjeni</a> |
                <a asp-action="Details" asp-route-id="@item.ZamjenaId" class="btn btn-primary">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.ZamjenaId" class="btn btn-danger">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
