@{
    ViewData["Title"] = "Post " + Model.Naziv;
}
@model Post


<div class="container">
    <h3 class="display-4">Objava</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Naziv</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="label label-primary">By: </span>
                    <span class="monospaced">@Model.Korisnik</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="label label-primary">Tip: </span>
                    <span class="monospaced">@Model.Tip</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">

                        @Model.Opis
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="comment-section">
        @{
            await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentId = 0, Korisnik = Model.Korisnik });
        }
        <hr />
        @foreach (var c in Model.MainComments)
        {
            <p>
                @c.Korisnik --- @c.Created
            </p>
            <p>
                @c.Message
            </p>
            <div style="margin-left: 20px;">
                <h4>Sub Comment</h4>
                @{
                    await Html.RenderPartialAsync("_SubComment", new CommentViewModel { PostId = Model.Id, MainCommentId = c.Id, Korisnik = Model.Korisnik });
                }

                @foreach (var sc in c.SubComments)
                {
                    <p>
                        @sc.Korisnik --- @sc.Created
                    </p>
                    <p>
                        @sc.Message
                    </p>
                }
            </div>
        }
    </div>
</div>
